<div class = "edit_group">
<%= flash[:notice] %>
<h1>編集</h1> 
  <%= form_with model: @post do |form|%>
    <%= form.text_area :content ,value:"#{@post.content}"%>
    <%= form.submit "保存"%>
  <%end%>
</div>
