<div id='main_back_img'>
  <div class='main_img_title'>
    <p class='top_main_title'>必要なものを近くのお店から</p>
    <p class='top_read_title'>借りよう</p>
  </div>
</div>
<% @posts.each do |post| %>
  <div>
    <%= link_to(post.content, post_path(post)) %>
    <div><%= image_tag post.image.to_s, class:"image" %></div>
  </div>
<% end %>
