#reset_actions_submit {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bolder;
    display: block;
    line-height:35px;
    color: #fff;
  }
/* --------------------------再設定メール画面ーーーーーーーーーー */
#change_password_submit {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bolder;
  display: block;
  line-height:35px;
  color: #fff;
}